*{
 padding: auto;
 margin: 0 auto;
 box-sizing: border-box;
 text-decoration: none;
 font-family: sans-serif;
 font-size: 14px;
}

body {
 width: 100%;
 min-height: 100vh;
 background-color: rgb(243, 243, 243);
 margin: 0;
 padding: 0;
 display: flex;
 justify-content: center;
}

.instagram-wrapper {
 display: flex;
 align-items: center;
 justify-content: start;
 width: 60%;
 height: 100vh;
}

.celular-instagram{
 display: flex;
 align-items: center;
 justify-content: center;
 width: 50%;
 padding: 5px;
}

.celular-instagram img{
 height: 50rem;
}

.login-instagram {
 display: flex;
 align-items: center;
 justify-content: space-around;
 flex-direction: column;
 width: 50%;
 min-width: 34rem;
}

.group {
 display: flex;
 justify-content: space-between;
 align-items:center;
 flex-direction: column;
 background-color: #fff;
 width: 70%;
 padding: 1.3rem 0;
 border: 1px solid lightgray;
}

.group:nth-child(1){
 min-height: 19rem;
 margin: 10px;
}

.instagram-logo {
 height: 3rem;
}

.profile-foto {
 display: flex;
 align-items: center;
 justify-content: center;
 border-radius: 50%;
 overflow: hidden;
 margin-bottom: 4px;
}

.profile-foto img {
 height: 8rem;
}

.insta-login { 
 background-color: #0095f6;
 color: #fff;
 padding: 5px;
 border-radius: 3px;
 margin-top: 3px;
}

.insta-logout{
 color: #0095f6;
 margin-top: 1px;
}

.not-account {
 color: rgb(160, 160, 160);
}

.link-blue {
 color: #0095f6;
}

.get-the-app {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 width: 100%;
 padding: 1.3rem 0;
}

.get-app{
 margin-top: 5px;
}

.dowload {
 display: flex;
 width: 80%;
 justify-content: space-evenly;
 align-items: center;
 padding: 1rem;
 margin: 5px;
}

.app-dowload {
 display: flex;
 height: 3rem;
 width: 10rem;
 background-size:cover;
 align-items: center;
 margin: auto;
 justify-content:space-around;
}

.app-dowload:nth-child(1) {
 background-image: url("./img/apple-button.png");
 
}

.app-dowload:nth-child(2) {
 background-image: url("./img/googleplay-button.png");
}

/*responsividade*/

@media (max-width:124px) {
 .instagram-wrapper{
  width: 90%;
 }
}

@media (max-width: 650px) { 
 body{
  background-color: #fff;
 }
 .instagram-wrapper{
  width: 90%;
 }
 .celular-instagram{
  display: none;
 }
 .login-instagram{
  width: 100%;
  margin-right: 5px;
 }
 .group{
  border: 1px solid transparent;
 }
}